<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<div class="card" *ngIf="!showProviderWindow">
  <p-table #dt [value]="providers" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate=""
           [filterDelay]="0" [globalFilterFields]="['providerLabel','providerUniqueIdentifier','providerAddress','providerTel','providerEmail','providerManagerName','createdAt', 'updatedAt']">
    <ng-template pTemplate="caption" >
      <div >
        <div class="p-d-flex p-ai-center p-jc-between" style=" width: 60%; display: inline-block;">
          <span class="p-input-icon-left" style="width: 100%">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" style="margin-left: 5%; width: 93%;" class="searchInput, p-inputtext"(input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Chercher un fournisseur.." />
                  </span>
          </div>
  
          <div style="float:right">
            <button pButton pRipple label="Nouveau fournisseur" icon="pi pi-plus" class="primaryBtn" (click)="showProviderWindow = true"></button>
          </div>
      </div>
        

     

    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 13px;">
        <th  style="text-align: center; font-size: 13px;width: 20%">Dénomination</th>
        <th  style="text-align: center; font-size: 13px; width: 20%">Identifiant</th>
        <th  style="text-align: center;font-size: 13px; width: 30%">Adresse</th>
        <!--
		<th pSortableColumn="customerTel" style="text-align: center; font-size: 15px;">Télephone</th>
		<th pSortableColumn="customerEmail" style="text-align: center; font-size: 15px;">Email</th>
		!-->

        <th pSortableColumn="providerManagerName"  style="text-align: center; font-size: 13px; width: 20%">Nom du responsable</th>
        <!--
          <th pSortableColumn="createdAt">Date de création</th>
          <th pSortableColumn="updatedAt">Date de modfication</th>
          -->
        <th style="width: 10%;font-size: 13px; text-align: center;">Actions</th>      </tr>
      <!--
      <tr>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerLabel', 'contains')" placeholder="Chercher par nom" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerUniqueIdentifier', 'contains')" placeholder="Chercher par identifiant" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerAddress', 'contains')" placeholder="Chercher par adresse" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerTel', 'contains')" placeholder="Chercher par télephone" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerEmail', 'contains')" placeholder="Chercher par email" class="p-column-filter">
        </th>
      </tr>
      -->
    </ng-template>
    <ng-template pTemplate="body" let-provider>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
        <td  style="text-align: center;">
          {{provider.providerLabel}}
        </td>
        <td style="text-align: center;">
          {{provider.providerUniqueIdentifier}}
        </td>
        <td style="text-align: center;">
          {{provider.providerAddress}}
        </td>
        <!--
        <td style="text-align: center;">
          {{client.customerTel}}
        </td>
        <td style="text-align: center;">
          {{client.customerEmail}}
        </td>
        -->

        <td style="text-align: center;">
          {{provider.providerManagerName}}
        </td>

        <td style="text-align: center;">
          <div style="text-align: center;">
            <i    placement="top" ngbTooltip="Contacter"  class="pi pi-users" style="margin-right: 7px;color: #6200ee" (click)="showContacts(provider)"></i>
            <i    placement="top" ngbTooltip="Modifier"  class="pi pi-pencil"  style="margin-right: 7px;color: #6200ee" (click)="editProvider(provider)"></i>
            <i    placement="top" ngbTooltip="Supprimer"  class="pi pi-trash"  style="color: #6200ee" (click)="deleteProvider(provider)"></i>
          </div>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="font-size: 13px">
        <td colspan="8" style="text-align: left !important;">Aucun fournisseur trouvé!</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ngx-add-new-provider *ngIf="showProviderWindow" [provider]="provider" (addNewProviderEvent)="saveNewProvider($event)" (cancelEvent)="hideProviderWindow(); initProvider();"></ngx-add-new-provider>

<p-dialog [(visible)]="showProviderList" [style]="{width: '650px'}" [header]="contactModalheader"  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <ngx-list-contacts [contacts]="provider.customerContacts"></ngx-list-contacts>
  </ng-template>
</p-dialog>
