<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<h4 *ngIf="!showSocieteWindow" style="background: #E7E8E8; 
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
Votre société
</h4>
<div *ngIf="!showSocieteWindow" class="card" style=" margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-table #dt [value]="societes" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate=""
           [filterDelay]="0">
    <ng-template pTemplate="caption" >
      
        <div class="p-d-flex p-ai-center p-jc-between" style="  width: 100%; display: inline-block;">
          <div style="float:right" *ngIf="societes.length === 0">
            <button pButton pRipple label="Ajouter votre societé" icon="pi pi-plus" class="primaryBtn" (click)="showSocieteWindow = true"></button>
          </div>
      </div>
        

     

    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px;">
        <th pSortableColumn="campanyName" style="text-align: center; font-size: 13px;width: 20%">Dénomination</th>
        <th pSortableColumn="campanyUniqueIdentifier" style="text-align: center; font-size: 13px;width: 20%">Identifiant</th>
        <th pSortableColumn="campanyAddress" style="text-align: center;font-size: 13px;width: 30%">Adresse</th>


        <th pSortableColumn="companyManagerName"  style="text-align: center; font-size: 13px;width: 20%">Nom du responsable</th>

        <th style="width: 10%;font-size: 13px; text-align: center;">Actions</th>      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-societe>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
        <td style="text-align: center;font-size: 13px;">
          {{societe.campanyName}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{societe.campanyUniqueIdentifier}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{societe.campanyAddress}}
        </td>


        <td style="text-align: center;font-size: 13px;">
          {{societe.companyManagerName}}
        </td>

        <td style="text-align: center;">
          <div>
             <i    placement="top" ngbTooltip="Modifier" class="pi pi-pencil"  style="margin-right: 7px;color: #6200ee" (click)="editSociete(societe)"></i>
            <i    placement="top" ngbTooltip="Supprimer"  class="pi pi-trash"  style="color: #6200ee" (click)="deleteSociete(societe)"></i>
          </div>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="font-size: 13px">
        <td colspan="8" style="text-align: left !important;">Aucune societé trouvée!</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ngx-add-new-societe *ngIf="showSocieteWindow" [societe]="societe" (addNewSocieteEvent)="saveNewSociete($event)"
                     (cancelEvent)="hideSocieteWindow(); initSociete();"></ngx-add-new-societe>




