<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<div *ngIf="!showDecaissementWindow" class="card">
  <p-table #dt [value]="decaissments" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate=""
           [filterDelay]="0" [globalFilterFields]="['decaissementDeadlineDate','decaissementPaymentType','decaissementPaymentRuleNumber','decaissementType','decaissementAmount','decaissementLabel','decaissementInvoice.invoiceNumber', 'decaissementBankAccount.accountLabel','createdAt', 'updatedAt']">
    <ng-template pTemplate="caption" >
      <div style="display: flex; width: 100%">
        <div class="p-d-flex p-ai-center p-jc-between" style="width: 60%">
        <span class="p-input-icon-left" style="width: 100%">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" style="margin-left: 5%; width: 93%;" class="searchInput, p-inputtext"(input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Chercher un décaissement.." />
                </span>
        </div>

        <div style="width:19%; margin-left: 25%">
          <button pButton pRipple label="Nouveau décaissement" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="showDecaissementWindow = true"></button>
        </div>

      </div>

    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px;">
        <th pSortableColumn="invoiceNumber" style="text-align: center; font-size: 13px;width: 13%">Décaissement</th>
        <th pSortableColumn="customer.customerLabel" style="text-align: center; font-size: 13px;width: 14%">Type</th>
        <th pSortableColumn="invoiceDate" style="text-align: center; font-size: 13px;width: 10%">Montant<p-sortIcon field="invoiceDate"></p-sortIcon></th>
        <th pSortableColumn="invoiceDeadlineDate" style="text-align: center;font-size: 13px;width: 12%">Date d'échéance<p-sortIcon field="invoiceDeadlineDate"></p-sortIcon></th>
        <th pSortableColumn="invoiceTotalAmount" style="text-align: center; font-size: 13px;width: 30%">Détails<p-sortIcon field="invoiceTotalAmount"></p-sortIcon></th>
        <th pSortableColumn="invoiceStatus"  style="text-align: center; font-size: 13px;width: 10%">Statut</th>
        <th style="width: 10%;font-size: 13px">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-decaissement>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
        <td  style="text-align: center;font-size: 13px;">
          {{decaissement.decaissementLabel}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{decaissement.decaissementType}}
          <span *ngIf="decaissement.decaissementType === 'PAIEMENT_FACTURE_FOURNISSEUR'"> Facture {{decaissement.decaissementInvoice}}</span>
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{decaissement.decaissementAmount}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{decaissement.decaissementPaymentType}}
        </td>
        <td style="text-align: center;">
          {{decaissement.decaissementDeadlineDate}}
        </td>
        <td style="text-align: center;">
          {{decaissement.decaissementDetails}}
        </td>
        <td style="text-align: center;">
          <span *ngIf="decaissement.isValidated" class="customer-badge status-active">Rapproché</span>
          <span *ngIf="decaissement.isValidated" class="customer-badge status-progress">Non rapproché</span>
        </td>


        <td style="text-align: center;">
          <div style="display: flex;">
            <i ngbTooltip="Modifier"  class="pi pi-pencil"  style="margin-right: 7px;" (click)="editDecaissement(decaissement)"></button>
            <i placement="top" ngbTooltip="Supprimer"  class="pi pi-trash" (click)="deleteDecaissement(decaissement)"></button>
          </div>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="font-size: 13px">
        <td colspan="8">Aucun décaissement trouvé!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!--
<ngx-add-new-facture-client *ngIf="showCustomerInvoiceWindow" [invoice]="invoice" (addNewCustomerInvoiceEvent)="saveInvoice($event)"
                            (cancelEvent)="hideInvoiceWindow(); initInvoice();"></ngx-add-new-facture-client>
-->
