<div class="card">
  <p-table #dt [value]="clients" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate="Visualiser de {first} à {last} pour {totalRecords} clients"
           [filterDelay]="0" [globalFilterFields]="['customerLabel','customerUniqueIdentifier','customerAddress','customerTel','customerEmail','customerManagerName','createdAt', 'updatedAt']">
    <ng-template pTemplate="caption" >
      <div style="display: flex; width: 100%">
        <div class="p-d-flex p-ai-center p-jc-between" style="width: 60%">
        <span class="p-input-icon-left" style="width: 100%">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" style="margin-left: 5%; width: 93%;"(input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Chercher un client.." />
                </span>
        </div>

        <div style="width:8%; margin-left: 32%">
          <button pButton pRipple label="Nouveau client" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </div>

      </div>

    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="customerLabel">Dénomination client</th>
		<th pSortableColumn="customerUniqueIdentifier">Identifiant</th>
        <th pSortableColumn="customerAddress">Adresse</th>
		<th pSortableColumn="customerTel">Télephone</th>
		<th pSortableColumn="customerEmail">Email</th>
        <th pSortableColumn="customerManagerName"  style="width: 150px">Nom du responsable</th>
		<th pSortableColumn="createdAt">Date de création</th>
		<th pSortableColumn="updatedAt">Date de modfication</th>
        <th style="width: 10rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-demande>
      <tr class="p-selectable-row">
        <td>
          {{demande.customerLabel}}
        </td>
        <td>
          {{conge.customerUniqueIdentifier}}
        </td>
        <td>
          {{conge.customerAddress}}
        </td>
        <td>
          {{conge.customerTel}}
        </td>
        <td>
          {{conge.customerEmail}}
        </td>
        <td>
          {{conge.customerManagerName}}
        </td>
        <td>
          {{conge.createdAt}}
        </td>
        <td>
          {{conge.updatedAt}}
        </td>

        <td>
          <div style="display: flex;">
            <button pButton   pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" style="margin-right: 7px;" (click)="1"></button>
            <button pButton   pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="1"></button>
          </div>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Aucun client trouvé!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
