
<h4 *ngIf="invoice.invoiceId == null" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
Ajouter une nouvelle facture fournisseur
</h4>
<h4 *ngIf="invoice.invoiceId != null" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
Modifier une nouvelle facture fournisseur
<div><span class="customer-badge status-label">{{invoice.invoiceNumber}}</span></div>
</h4>
<div style="width: 90%;
   margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-panel  [toggleable]="false">
    <div class="p-grid p-fluid">
      <div *ngIf="invoice.invoiceId  != null" style="display: flex">
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="creationDate" class="p-float-label">Date de création</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="creationDate"
                   [(ngModel)]="invoice.createdAt" disabled="true">
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12">
          <label for="modificationDate" class="p-float-label">Date de dernière modification</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field"  id="modificationDate"
                   [(ngModel)]="invoice.updatedAt " disabled="true">
          </div>
        </div>
      </div>
      <div style="display: flex">
        
	  	<div class="mb-1 col-md-6 col-12 p-field">
          <label for="invoiceNumber" class="p-float-label">Numéro</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="invoiceNumber"
                   [(ngModel)]="invoice.invoiceNumber" [ngClass]="{
        'is-invalid': invoice.invoiceNumber == null || invoice.invoiceNumber == '' ,
        'is-valid': invoice.invoiceNumber != null && invoice.invoiceNumber !== ''
      }" style="font-size: 13px">
          </div>
        </div>
         <div class="mb-1 col-md-4 col-12">
          <label for="type" class="p-float-label">Fournisseur</label>
          <div class="p-inputgroup p-fluid">
            <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart"></i></span>
            <select *ngIf="invoice.invoiceId != null" class="form-control p-field" id="type" name="side" [(ngModel)]="invoice.provider" [ngClass]="{
              'is-invalid': invoice.provider == null ,
              'is-valid':invoice.provider != null
            }" style="font-size: 13px">
                    <option  [ngValue]="invoice.provider" 
                    [selected]="true"> {{invoice.provider.providerLabel}}
                  </option>
                    <option *ngFor="let c of providers_edit;" [ngValue]="c">{{c.providerLabel}}</option>
      
                  </select>
            <select *ngIf="invoice.invoiceId == null" class="form-control p-field" id="type" name="side" [(ngModel)]="invoice.provider" [ngClass]="{
        'is-invalid': invoice.provider == null ,
        'is-valid':invoice.provider != null
      }" style="font-size: 13px">
              <option [ngValue]="null">-- Fournisseur --</option>
              <option *ngFor="let c of providers;" [ngValue]="c">{{c.providerLabel}}</option>

            </select>
          </div>
        </div>  
		<div class="mb-1 col-md-2 col-12 p-field">
          <label for="invoiceNumber" class="p-float-label">Devise</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
            <select class="form-control p-field" id="type" name="side" [(ngModel)]="invoice.invoiceCurrency" style="font-size: 13px">
              <option value="TND">TND</option>
               <option value="TND">EUR</option>

            </select>
          </div>
        </div>
      </div>
	  <br>
      <div class="p-grid p-fluid">
        <div style="display: flex">

          <div class="mb-1 col-md-4 col-12">
            <label for="manager" class="p-float-label">Date de facture </label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
              <input type="date" placeholder="Date" class="form-control p-field"  id="manager"
                     [(ngModel)]="invoice.invoiceDate " style="font-size: 13px" 
                     [max]="maxDateInvoiceDate"
                     (change)="changeInvoiceDate()">
            </div>
          </div>
          <div class="mb-12 col-md-4 col-12">
            <label for="fin" class="p-float-label">Nombre des jours avant la date d'échéance </label>
            <div class="p-inputgroup">
              <!--
              <span class="p-inputgroup-addon"><i class="pi pi-spinner"></i></span> -->
              <input type="number"  class="form-control p-field"  id="daysNumber" length="3" min="0"
                     [(ngModel)]="invoice.invoiceDeadlineInNumberOfDays" style="font-size: 13px"
                     (change)="changeNumberOfDeadlineDaysNumber()">
            </div>
          </div>
          <div class="mb-12 col-md-4 col-12">
            <label for="fin" class="p-float-label">Date d'écheance </label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
              <input type="date" class="form-control p-field"  id="fin"
                     [(ngModel)]="invoice.invoiceDeadlineDate "
                     [min]="minDateDeadlineDate"
                     (change)="changeDeadLineDate()" 
                     style="font-size: 13px">
            </div>
          </div>

        </div>
      </div>
    </div>
	<br>
    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-1 col-md-4 col-12">
          <label for="NET" class="p-float-label">Montant TTC</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
            <input type="number" class="form-control p-field"  id="net"
                   [(ngModel)]="invoice.invoiceNet " style="font-size: 13px" 
                   (change)="updateTotalAmount()">
          </div>
        </div>
        <div class="mb-12 col-md-4 col-12">
          <label for="rs" class="p-float-label">RS</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
            <input type="number" class="form-control p-field"  id="rs"
                   [(ngModel)]="invoice.invoiceRs " style="font-size: 13px" 
                   (change)="updateTotalAmount()">
          </div>
          <span *ngIf="invoice.invoiceRsType === 'POURCENTAGE'" style="font-size: 12px;"><i>Soit valeur de {{rsAmount}}</i></span>
        </div>
        <div class="mb-12 col-md-4 col-12">
          <label for="rs" class="p-float-label">RS type</label>
          <select class="form-control p-field" id="type" name="side" 
          [(ngModel)]="invoice.invoiceRsType"
            (change)="updateTotalAmount()" style="font-size: 13px;">
            <option [ngValue]="'VALUE'">Valeur</option>
            <option [ngValue]="'POURCENTAGE'">Pourcentage</option>

          </select>
        </div>

      </div>
      <div class="mb-12 col-md-12 col-12">
        <label for="amount" class="p-float-label">Montant NET à payer</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
          <input type="number" class="form-control p-field"  id="amount"
                 [(ngModel)]="invoice.invoiceTotalAmount " disabled="true" style="font-size: 13px">
        </div>
      </div>
    </div>
  </p-panel>
  <br>

  <div class="p-panel p-panel-header" style="margin-top: 20px;float: right; padding: 2%;">

    <button  pButton pRipple label="Annuler" icon="pi pi-times" class="btn btn-secondary" (click)="cancel()"></button>

      <button [disabled]="checkInvoiceValid()"
      [ngClass]= "{'disabled':  checkInvoiceValid()}" pButton pRipple label="Enregistrer" icon="pi pi-check" class="primaryBtn"
      (click)="saveInvoice()" style="margin-left: 10px;"></button>
  </div>

</div>
