<h5>Nouveau Facture Client</h5>
<div style="width: 90%;
    margin: auto;">
  <p-panel header="Configuration génerale" [toggleable]="false">
    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="invoiceNumber" class="p-float-label">Nombre</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="invoiceNumber"
                   [(ngModel)]="customer.invoiceNumber" [ngClass]="{
        'is-invalid': customer.invoiceNumber == null || customer.invoiceNumber == '' ,
        'is-valid': customer.invoiceNumber != null && customer.invoiceNumber !== ''
      }">
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12">
          <label for="type" class="p-float-label">Client</label>
          <div class="p-inputgroup p-fluid">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <select class="form-control p-field" id="type" name="side" [(ngModel)]="customer.invoiceCustomer" [ngClass]="{
        'is-invalid': customer.invoiceCustomer == null ,
        'is-valid':customer.invoiceCustomer != null
      }">
              <option [ngValue]="null">-- Type --</option>
             <option [ngValue]="'NUMBER'">Numéro </option>

            </select>
          </div>
        </div>
      </div>
      <div class="p-grid p-fluid">
        <div style="display: flex">

      <div class="mb-1 col-md-6 col-12">
        <label for="manager" class="p-float-label">Date </label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="date" placeholder="Date" class="form-control p-field"  id="manager"
                 [(ngModel)]="customer.invoiceDate ">
        </div>
      </div>

      <div class="mb-12 col-md-6 col-12">
        <label for="fin" class="p-float-label">Date de écheance </label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="date" placeholder="Date" class="form-control p-field"  id="fin"
                 [(ngModel)]="customer.invoiceDeadlineDate ">
        </div>
      </div>

        </div>
        </div>
    </div>
    <div class="p-grid p-fluid">
      <div style="display: flex">
    <div class="mb-1 col-md-4 col-12">
      <label for="NET" class="p-float-label">NET</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <input type="text" class="form-control p-field"  id="net"
               [(ngModel)]="customer.invoiceNet " [ngClass]="{
        'is-invalid': customer.invoiceNet  == null || customer.invoiceNet  == '' ,
        'is-valid': customer.invoiceNet  != null && customer.invoiceNet  !== ''
      }">
      </div>
    </div>
    <div class="mb-12 col-md-4 col-12">
      <label for="rs" class="p-float-label">RS</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <input type="text" class="form-control p-field"  id="rs"
               [(ngModel)]="customer.invoiceNet " [ngClass]="{
        'is-invalid': customer.invoiceRs  == null || customer.invoiceRs  == '' ,
        'is-valid': customer.invoiceRs  != null && customer.invoiceRs  !== ''
      }">
      </div>
    </div>

    <div class="mb-12 col-md-4 col-12">
      <label for="amount" class="p-float-label">Montant total</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <input type="text" class="form-control p-field"  id="amount"
               [(ngModel)]="customer.invoiceTotalAmount " [ngClass]="{
        'is-invalid': customer.invoiceTotalAmount  == null || customer.invoiceTotalAmount  == '' ,
        'is-valid': customer.invoiceTotalAmount  != null && customer.invoiceTotalAmount  !== ''
      }">
      </div>
    </div></div></div>
  </p-panel>
  <br>

  <div class="p-panel p-panel-header" style="margin-top: 20px;">
    <button [disabled]="" class="btn btn-secondary" style="margin-left: 1%;" (click)="cancel()">Annuler</button>
    <button  [disabled]="checkCustomerValid()" class="btn btn-success" style="margin-left: 74%;" (click)="saveCustomer()">Enregistrer</button>
  </div>


</div>
