<h5 *ngIf="invoice.invoiceId == null">Nouvelle facture client</h5>
<h5 *ngIf="invoice.invoiceId != null">Modifier la facture client {{invoice.invoiceNumber}}</h5>

<div style="width: 90%;
    margin: auto;">
  <p-panel  [toggleable]="false">
    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="invoiceNumber" class="p-float-label">Numéro</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="invoiceNumber"
                   [(ngModel)]="invoice.invoiceNumber" [ngClass]="{
        'is-invalid': invoice.invoiceNumber == null || invoice.invoiceNumber == '' ,
        'is-valid': invoice.invoiceNumber != null && invoice.invoiceNumber !== ''
      }" style="font-size: 13px">
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12">
          <label for="type" class="p-float-label">Client</label>
          <div class="p-inputgroup p-fluid">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input *ngIf="invoice.invoiceId!= null" type="text" placeholder="Date" class="form-control p-field"  id="manager"
                   [(ngModel)]="invoice.customer.customerLabel " style="font-size: 13px" disabled="true">
            <select *ngIf="invoice.invoiceId == null" class="form-control p-field" id="type" name="side" [(ngModel)]="invoice.customer" [ngClass]="{
        'is-invalid': invoice.customer == null ,
        'is-valid':invoice.customer != null
      }" style="font-size: 13px">
              <option [ngValue]="null">-- Client --</option>
              <option *ngFor="let c of clients;" [ngValue]="c">{{c.customerLabel}}</option>

            </select>
          </div>
        </div>
      </div>
      <div class="p-grid p-fluid">
        <div style="display: flex">

      <div class="mb-1 col-md-6 col-12">
        <label for="manager" class="p-float-label">Date </label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="date" placeholder="Date" class="form-control p-field"  id="manager"
                 [(ngModel)]="invoice.invoiceDate " style="font-size: 13px">
        </div>
      </div>

      <div class="mb-12 col-md-6 col-12">
        <label for="fin" class="p-float-label">Date de écheance </label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="date" placeholder="Date" class="form-control p-field"  id="fin"
                 [(ngModel)]="invoice.invoiceDeadlineDate " style="font-size: 13px">
        </div>
      </div>

        </div>
        </div>
    </div>
    <div class="p-grid p-fluid">
      <div style="display: flex">
    <div class="mb-1 col-md-4 col-12">
      <label for="NET" class="p-float-label">NET</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <input type="number" class="form-control p-field"  id="net"
               [(ngModel)]="invoice.invoiceNet " style="font-size: 13px" (change)="updateTotalAmount()"
               (change)="updateTotalAmount()">
      </div>
    </div>
    <div class="mb-12 col-md-4 col-12">
      <label for="rs" class="p-float-label">RS</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
        <input type="number" class="form-control p-field"  id="rs"
               [(ngModel)]="invoice.invoiceRs " style="font-size: 13px" (change)="updateTotalAmount()">
      </div>
      <span *ngIf="invoice.invoiceRsType === 'POURCENTAGE'" style="font-size: 12px;"><i>Soit valeur de {{rsAmount}}</i></span>
    </div>
        <div class="mb-12 col-md-4 col-12">
          <label for="rs" class="p-float-label">RS type</label>
          <select class="form-control p-field" id="type" name="side" [(ngModel)]="invoice.invoiceRsType"
                  (change)="updateTotalAmount()" style="font-size: 13px;">
            <option [ngValue]="'VALUE'">Valeur</option>
            <option [ngValue]="'POURCENTAGE'">Pourcentage</option>

          </select>
        </div>

   </div>
      <div class="mb-12 col-md-12 col-12">
        <label for="amount" class="p-float-label">Montant total</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field"  id="amount"
                 [(ngModel)]="invoice.invoiceTotalAmount " disabled="true" style="font-size: 13px">
        </div>
      </div>
    </div>
  </p-panel>
  <br>

  <div class="p-panel p-panel-header" style="margin-top: 20px;">
    <button [disabled]="" class="btn btn-secondary" style="margin-left: 1%;" (click)="cancel()">Annuler</button>
    <button  [disabled]="checkInvoiceValid()" class="btn btn-success" style="margin-left: 74%;" (click)="saveInvoice()">Enregistrer</button>
  </div>


</div>
