.table td {
  height: 30px;
  font-size: 13px;
  line-height: 1px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: none!important;
}
.table th {
  height: 50px;
  text-align: center;
  border: 1px solid #000;
}
.table tr {
  height: 30px;
}
.table {
  border-bottom : 1px solid #000;
}

.template {
  font-family: "Times New Roman", Times, serif !important;
}
td {
  font-weight: 700;
  line-height: normal;
}
