<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<h4 *ngIf="!showTarifBancaireWindow" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
Liste des  tarifs bancaires
</h4>
<div class="card" *ngIf="!showTarifBancaireWindow && accounts.length !== 0" style=" margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <div *ngFor="let account of accounts">
      <div style="margin: 5px">
        <span class="customer-badge status-label">{{account.accountLabel}} {{account.accountNumber}}</span>
        <i    placement="top" ngbTooltip="Ajouter / Modifier une comission"  class="pi pi-pencil"  style="margin-left: 7px;color: #6200ee" (click)="editAccount(account)"></i>
      </div>

      <p-table *ngIf="account.accountComissions != null" #dt [value]="account.accountComissions" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true">
        <ng-template pTemplate="header">
          <tr style="text-align: center; font-size: 13px;">
            <th  style="text-align: center; font-size: 13px;width: 30%">Libellé comission</th>
            <th  style="text-align: center; font-size: 13px; width: 30%">Opération</th>
            <th style="text-align: center;font-size: 13px; width: 10%">Valeur</th>
            <th style="text-align: center;font-size: 13px; width: 20%">Type</th>
            <th style="text-align: center;width: 10%">Supprimer</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comission>
          <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
            <td  style="text-align: center;">
              {{comission.comissionLabel}}
            </td>
            <td  style="text-align: center;">
              <span *ngIf="comission.comissionOperation === 'REMISE_CHHEQUE'">REMISE CHHEQUE</span>
              <span *ngIf="comission.comissionOperation === 'REMISE_EFFET_ENCAISSEMENT'">REMISE EFFET ENCAISSEMENT</span>
              <span *ngIf="comission.comissionOperation === 'REMISE_EFFET_ESCOMPTE'">REMISE EFFET ESCOMPTE</span>
              <span *ngIf="comission.comissionOperation === 'INTERET'">INTERET</span>
              <span *ngIf="comission.comissionOperation === 'REMISE_EFFET'">REMISE EFFET</span>
              <span *ngIf="comission.comissionOperation === 'VIREMENT'">VIREMENT</span>
            </td>
            <td  style="text-align: center;">
              {{comission.comissionValueS}}
            </td>
            <td  style="text-align: center;">
              <span *ngIf="comission.commissionType === 'NUMBER'">Valeur</span>
              <span *ngIf="comission.commissionType === 'RATE'">Pourcentage</span>
            </td>
            <td style="text-align: center;">
              <div style="text-align: center;">
                <i    placement="top" ngbTooltip="Supprimer"  class="pi pi-trash"  style="color: #6200ee" (click)="deleteComission(comission)"></i>
              </div>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr style="font-size: 13px">
            <td colspan="8" style="text-align: left !important;">Aucune commission trouvée pour ce compte bancaire!</td>
          </tr>
        </ng-template>
      </p-table>

  </div>


</div>
<div  *ngIf="!showTarifBancaireWindow && accounts.length === 0">
    <span style="font-size: 13px;text-align: left !important;">
      Aucun compte bancaire trouvé!
    </span>
</div>
<ngx-add-new-tarifs-bancaire *ngIf="showTarifBancaireWindow" [account]="account" (cancelEvent)="hideTarifBancaireWindow();"
(addNewTarifEvent)="saveNewComissions($event)"></ngx-add-new-tarifs-bancaire>

<p-dialog header="Supprimer une comission" [(visible)]="displayDeleteTarif" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <br>
  Voulez-vous supprimer la comission bancaire <span  class="customer-badge status-negotiation">{{comission.comissionLabel}}</span> ?
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="displayDeleteTarif=false"></button>

			   <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
              (click)="delComission()"></button>

    </div>
  </ng-template>
</p-dialog>
