<h4 *ngIf="timeLine.timeLineId  == null" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
  Ajouter un nouveau échénacier
</h4>
<h4 *ngIf="timeLine.timeLineId != null" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
  Modifier un échénacier
  <div><span class="customer-badge status-label">{{timeLine.timeLineLabel}}</span></div>
</h4>
<div style="width: 90%; margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-panel header="Configuration génerale" [toggleable]="false">
    <div *ngIf="timeLine.timeLineId != null" style="display: flex">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="creationDate" class="p-float-label">Date de création</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="text" class="form-control p-field" id="creationDate" [(ngModel)]="timeLine.createdAt"
            disabled="true">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12">
        <label for="modificationDate" class="p-float-label">Date de dernière modification</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="text" class="form-control p-field" id="modificationDate" [(ngModel)]="timeLine.updatedAt "
            disabled="true">
        </div>
      </div>
    </div>
    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="label" class="p-float-label">Etablissement de crédit</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="label" [(ngModel)]="creditInstitution" [ngClass]="{
        'is-invalid': timeLine.creditInstitution== null || timeLine.creditInstitution == '' ,
        'is-valid': timeLine.creditInstitution != null && timeLine.creditInstitution!== ''
      }">
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12">
          <label for="nc" class="p-float-label">N° Contrat de crédit</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="nc" [(ngModel)]="timeLine.timeLineCreditNumber"
              [ngClass]="{
        'is-invalid': timeLine.timeLineCreditNumber== null || timeLine.timeLineCreditNumber == '' ,
        'is-valid': timeLine.timeLineCreditNumber != null && timeLine.timeLineCreditNumber!== ''
      }">
          </div>
        </div>
      </div>

      <div style="display: flex" *ngIf="timeLine.timeLineAccount != null">
        <div class="mb-1 col-md-6 col-12">
          <label for="cb" class="p-float-label">Compte bancaire</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <select class="form-control p-field" name="side" [(ngModel)]="timeLine.timeLineAccount" [ngClass]="{
        'is-invalid': timeLine.timeLineAccount== null ,
        'is-valid':timeLine.timeLineAccount!= null
      }" id="cb">
              <option [ngValue]="null">-- Compte bancaire --</option>
              <option *ngFor="let a of accounts;" [ngValue]="a">{{a.accountLabel}}</option>
            </select>
          </div>
        </div>
        <div class="mb-1 col-md-4 col-12 p-field">
          <label for="ncb" class="p-float-label">Numéro compte bancaire</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="numCompte"
              [(ngModel)]="timeLine.timeLineAccount.accountNumber" disabled="true" id="ncb">
          </div>
        </div>
       
        <div class="mb-1 col-md-2 col-12 p-field">
          <label for="d" class="p-float-label">Devise</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
            <input type="text" class="form-control p-field" id="devise"
              [(ngModel)]="timeLine.timeLineAccount.accountCurrency" disabled="true" id="d">
          </div>
        </div>
      </div>

    

      <div style="display: flex">
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="mi" class="p-float-label">Montant initial</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="number" class="form-control p-field" id="mi" [(ngModel)]="timeLine.timeLineInitialAmount"
              [ngClass]="{
        'is-invalid': timeLine.timeLineInitialAmount== null ,
        'is-valid': timeLine.timeLineInitialAmount != null
      }">
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="ir" class="p-float-label">Taux intéret (en %)</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="number" class="form-control p-field" id="ir" [(ngModel)]="timeLine.timeLineInterestRate"
              [ngClass]="{
        'is-invalid': timeLine.timeLineInterestRate== null ,
        'is-valid': timeLine.timeLineInterestRate != null
      }">
          </div>
        </div>
      </div>

      <div style="display: flex">
        <div class="mb-1 col-md-3 col-12 p-field">
          <label for="y" class="p-float-label">Nombre d'annuité</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="number" class="form-control p-field" id="y" [(ngModel)]="timeLine.timeLineAnnityNumber"
              [ngClass]="{
        'is-invalid': timeLine.timeLineAnnityNumber== null,
        'is-valid': timeLine.timeLineAnnityNumber != null
      }">
          </div>
        </div>
        <div class="mb-1 col-md-3 col-12 p-field">
          <label for="an" class="p-float-label">Annuité</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <select class="form-control p-field" name="side" [(ngModel)]="timeLine.timeLineAnnuity" id="an">
              <option value="Mensuelle">Mensuelle</option>
              <option value="Trimesterielle">Trimesterielle</option>
              <option value="Semesterielle">Semesterielle</option>
              <option value="Annuelle">Annuelle</option>
            </select>
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="y" class="p-float-label">Date de début</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <input type="date" class="form-control p-field" id="y" [(ngModel)]="timeLine.timeLineStartDate">
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <br>
  <p-panel header="Tableau d'échéancier" [toggleable]="true" collapsed="true">
    <!--
      <div>
        <button pButton pRipple label="Génerer le tableau d'échéancier" icon="pi pi-refresh" class="p-mr-2"
        (click)="generateTimeLineTable()" style="background: #dee2e6;
      color: black;
      border: #dee2e6;"></button>
      </div>-->

    <p-table #dt [value]="timeLine.timeLineTable" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
      [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [paginator]="true"
      currentPageReportTemplate="">
      <ng-template pTemplate="header">
        <tr style="text-align: center; font-size: 13px;">
          <th style="text-align: center; font-size: 13px; width: 23%;">Date échéance</th>
          <th style="text-align: center; font-size: 13px; width: 25%;">Echéance principale</th>
          <th style="text-align: center; font-size: 13px;width: 13%">Intérêts</th>
          <th style="text-align: center;font-size: 13px;width: 11%">TVA</th>
          <th style="text-align: center; font-size: 13px; width: 20%">Total innuité</th>
          <th style="width:9%"></th>
        </tr>

        <tr>
          <th style="font-size: 13px;">
            <input style="font-size: 13px;" pInputText type="date" placeholder="Date" class="form-control p-field"
              [(ngModel)]="line.lineDate">
          </th>
          <th style="font-size: 13px;">
            <input style="font-size: 13px;" pInputText type="number" placeholder="Echéance principale"
              class="form-control p-field" [(ngModel)]="line.initialAmount"
              (input)="updateTotalAmount(); onChangeInitialAmount();">
          </th>
          <th style="font-size: 13px;">
            <input style="font-size: 13px;" pInputText type="number" placeholder="Intérets" class="form-control p-field"
              [(ngModel)]="line.interests" (change)="updateTotalAmount(); onChangeInterests();">
          </th>
          <th style="font-size: 13px;">
            <input style="font-size: 13px;" pInputText type="number" placeholder="TVA" class="form-control p-field"
              [(ngModel)]="line.tva" (change)="updateTotalAmount();onChangeTva();">
          </th>
          <th style="font-size: 13px;">
            <input style="font-size: 13px;" pInputText type="number" placeholder="Toatal anuiité"
              class="form-control p-field" [(ngModel)]="line.totalS" disabled="true">
          </th>
          <th>
            <button pButton placement="top" ngbTooltip="Ajouter" pRipple icon="pi pi-plus"
              class="p-button-rounded p-mr-2" style="margin-right: 7px;
                        background-color: #6200ee; border-color: #6200ee;" (click)="addLine()"></button>
          </th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-line>
        <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
          <td pEditableColumn style="text-align: center;">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input style="font-size: 13px;" pInputText type="date" class="form-control p-field"
                  [(ngModel)]="line.lineDate">
              </ng-template>
              <ng-template pTemplate="output">
                {{line.lineDate| date: 'dd-MM-yyyy'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn style="text-align: center;">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input style="font-size: 13px;" pInputText type="number" class="form-control p-field"
                  [(ngModel)]="line.initialAmount" (change)="updateTotalAmount(line);onChangeInitialAmount(line);">
              </ng-template>
              <ng-template pTemplate="output">
                {{line.initialAmountS}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td pEditableColumn style="text-align: center;">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input style="font-size: 13px;" pInputText type="number" class="form-control p-field"
                  [(ngModel)]="line.interests" (change)="updateTotalAmount(line);onChangeInterests(line);">
              </ng-template>
              <ng-template pTemplate="output">
                {{line.interestsS}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td pEditableColumn style="text-align: center;">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input style="font-size: 13px;" pInputText type="number" class="form-control p-field"
                  [(ngModel)]="line.tva" (change)="updateTotalAmount(line);onChangeTva(line);">
              </ng-template>
              <ng-template pTemplate="output">
                {{line.tvaS}}
              </ng-template>
            </p-cellEditor>
          </td>


          <td pEditableColumn style="text-align: center;">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input style="font-size: 13px;" pInputText type="number" class="form-control p-field"
                  [(ngModel)]="line.total" disabled="true">
              </ng-template>
              <ng-template pTemplate="output">
                {{line.totalS}}
              </ng-template>
            </p-cellEditor>
          </td>


          <td style="text-align: center;">
            <div style="display: flex;">

              <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash" style="color: #6200ee"
                (click)="deleteLine(line)"></i>
            </div>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr style="font-size: 13px;">
          <td colspan="8" style="text-align: left !important;">Aucun line trouvé!</td>
        </tr>
      </ng-template>
    </p-table>




  </p-panel>

  <div class="p-panel p-panel-header" style="margin-top: 20px;float: right; padding: 2%;">

    <button pButton pRipple label="Annuler" icon="pi pi-times" class="btn btn-secondary" (click)="cancel()"></button>

    <button [disabled]="checkTimeLineValid()" [ngClass]="{'disabled':  checkTimeLineValid()}" pButton pRipple
      label="Enregistrer" icon="pi pi-check" class="primaryBtn" (click)="saveEcenachier()"
      style="margin-left: 10px;"></button>
  </div>



</div>