<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<h4 *ngIf="!showEchancierWindow" style="background: #E7E8E8; 
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
Liste des échénaciers
</h4>
<div *ngIf="!showEchancierWindow" class="card" style=" margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-table #dt [value]="echanciers" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate=""
           [filterDelay]="0">

    <ng-template pTemplate="caption" >
      
      <div class="p-d-flex p-ai-center p-jc-between" style="  width: 100%; display: inline-block;">
        <div style="float:right">
          <button pButton pRipple label="Nouveau échancier" icon="pi pi-plus" class="primaryBtn" (click)="showEchancierWindow = true"></button>
        </div>
    </div>
      

   

  </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px;">
        <th  style="text-align: center; font-size: 13px;    width: 15%;">Echéanchier</th>
        <th  style="text-align: center; font-size: 13px;    width: 15%;">Compte bancaire</th>
        <th style=" text-align: center;font-size: 13px;    width: 15%;">Numéro de crédit</th>
        <th style=" text-align: center;font-size: 13px;    width: 15%;">Montant initial</th>
        <th style=" text-align: center;font-size: 13px;    width: 15%;">Taux intéret (en %)</th>
        <th  style=" text-align: center;font-size: 13px;    width: 15%;">Nombre des années</th>
        <th style="width: 10%;font-size: 13px; text-align: center;">Actions</th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-line>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
        <td  style="text-align: center;font-size: 13px;">
          {{line.timeLineLabel}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{line.timeLineAccount.accountLabel}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{line.timeLineCreditNumber}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{line.timeLineInitialAmount}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{line.timeLineInterestRate}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{line.timeLineYearNumber}}
        </td>

        <td style="text-align: center;font-size: 13px;">
          <div>
            <!--
            <button pButton   placement="top" ngbTooltip="Contacter" pRipple icon="pi pi-users" class="p-button-rounded p-button-info p-mr-2" style="margin-right: 7px;" (click)="showContacts(client)"></button>
            -->
            <i    placement="top" ngbTooltip="Modifier"  class="pi pi-pencil" style="margin-right: 7px;color: #6200ee" (click)="editEcheancier(line)"></i>
            <i    placement="top" ngbTooltip="Supprimer"  class="pi pi-trash" style="color: #6200ee" (click)="deleteTimeLine(line)"></i>
          </div>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="font-size: 13px; text-align: left !important;">Aucun échancier trouvé!</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ngx-add-new-echanchier *ngIf="showEchancierWindow" [timeLine]="timeLine"
(addNewEchenacierEvent)="saveNewEchancier($event)" (cancelEvent)="hideEchenacierWindow();initTimeLine();"></ngx-add-new-echanchier>


