<h5>Nouveau societe</h5>
<div style="width: 90%;
    margin: auto;">
  <p-panel header="Configuration génerale" [toggleable]="false">
    <div class="p-grid p-fluid">
      <div style="display: flex">
        <div class="mb-1 col-md-6 col-12 p-field">
          <label for="societeLabel" class="p-float-label">Dénomination Societe</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field" id="societeLabel"
                   [(ngModel)]="societe.campanyName" [ngClass]="{
        'is-invalid': societe.campanyName == null || societe.campanyName == '' ,
        'is-valid': societe.campanyName != null && societe.campanyName !== ''
      }">
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12">
          <label for="identifiant" class="p-float-label">Identifiant unique</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
            <input type="text" class="form-control p-field"  id="identifiant"
                   [(ngModel)]="societe.campanyUniqueIdentifier " [ngClass]="{
        'is-invalid': societe.campanyUniqueIdentifier  == null || societe.campanyUniqueIdentifier  == '' ,
        'is-valid': societe.campanyUniqueIdentifier  != null && societe.campanyUniqueIdentifier  !== ''
      }">
          </div>
        </div>
      </div>
      <!--
      <div style="display: flex">
        <div class="mb-1 col-md-6 col-12">
          <label for="tel" class="p-float-label">Téléphone </label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
            <input type="number" class="form-control" placeholder="-- Téléphone  --" id="tel"
                   [(ngModel)]="societe.campanyPhoneNumber " [ngClass]="{
        'is-invalid': societe.campanyPhoneNumber  == null || societe.campanyPhoneNumber  == '' ,
        'is-valid': societe.campanyPhoneNumber  != null && societe.campanyPhoneNumber  != ''
      }">
          </div>
        </div>
        <div class="mb-1 col-md-6 col-12">
          <label for="mail" class="p-float-label">Email </label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
            <input type="text" class="form-control" placeholder="-- Email  --" id="mail"
                   [(ngModel)]="societe.campanyEmail " [ngClass]="{
        'is-invalid': societe.campanyEmail  == null || societe.campanyEmail  == '' ,
        'is-valid': societe.campanyEmail  != null && societe.campanyEmail  != ''
      }">
          </div>
        </div>
      </div>
-->

      <div class="p-col-12 mb-1 col-md-12 p-field">
        <label for="manager" class="p-float-label">Responsable </label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" class="form-control p-field"  id="manager"
                 [(ngModel)]="societe.companyIllustration " [ngClass]="{
        'is-invalid': societe.companyIllustration  == null || societe.companyIllustration  == '' ,
        'is-valid': societe.companyIllustration  != null && societe.companyIllustration  !== ''
      }">
        </div>
      </div>

      <div class="p-col-12 mb-1 col-md-12 p-field">
        <label for="adress" class="p-float-label">Adresse </label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
          <textarea id="story" name="story" rows="3" class="form-control p-field"  pInputText  style="width: 100%;"  id ="adress" [(ngModel)]="societe.campanyAddress " [ngClass]="{
        'is-invalid': societe.campanyAddress  == null || societe.campanyAddress  == '' ,
        'is-valid': societe.campanyAddress  != null && societe.campanyAddress  != ''
      }"
          ></textarea>
        </div>
      </div>
    </div>
  </p-panel>
  <br>

  <div class="p-panel p-panel-header" style="margin-top: 20px;">
    <button [disabled]="" class="btn btn-secondary" style="margin-left: 1%;" (click)="cancel()">Annuler</button>
    <button  [disabled]="" class="btn btn-success" style="margin-left: 74%;" (click)="saveSociete()">Enregistrer</button>
  </div>


</div>
