<h5>Nouvelle configuration de tarifs bancaires</h5>
<div style="width: 90%;margin: auto;">
  <div class="p-grid p-fluid">
    <div style="display: flex">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Label</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="text" class="form-control p-field" id="providerLabel"
                 [(ngModel)]="tarif.tarifLabel" [ngClass]="{
        'is-invalid': tarif.tarifLabel == null || tarif.tarifLabel== '' ,
        'is-valid': tarif.tarifLabel != null && tarif.tarifLabel != ''
      }">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12">
        <label for="identifiant" class="p-float-label">Compte bancaire</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <select class="form-control p-field" name="side" [(ngModel)]="tarif.tarifAccount" [ngClass]="{
        'is-invalid': tarif.tarifAccount == null ,
        'is-valid':tarif.tarifAccount != null
      }">
            <option [ngValue]="null">-- Compte bancaire --</option>
            <!--
            <option *ngFor="let b of bankAccounts;" [ngValue]="b">{{b.bankAccountNumber}}</option>
            -->
            <option [ngValue]="'Compte courant BIAT'">-- Compte courant BIAT --</option>
          </select>
        </div>
      </div>
    </div>
    <div style="display: flex">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Numéro compte bancaire</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="text" class="form-control p-field" id="numCompte"
                 [(ngModel)]="tarif.tarifAccount.accountNumber" disabled="true">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Devise</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="text" class="form-control p-field" id="devise"
                 [(ngModel)]="tarif.tarifAccount.accountCurrency" disabled="true">
        </div>
      </div>
    </div>
    <div style="display: flex">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Commision de remise des chèques</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="chequeRemittance"
                 [(ngModel)]="tarif.check_remittance_commission" [ngClass]="{
        'is-invalid': tarif.check_remittance_commission == null ,
        'is-valid': tarif.check_remittance_commission != null
      }">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Commission de remise remise effets à l'encaissement</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="billsComission"
                 [(ngModel)]="tarif.remittance_of_bills_for_collection_commission" [ngClass]="{
        'is-invalid': tarif.remittance_of_bills_for_collection_commission == null  ,
        'is-valid': tarif.remittance_of_bills_for_collection_commission != null
      }">
        </div>
      </div>
    </div>


    <div style="display: flex">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Commission de remise remise effets à l'escompte</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="discount"
                 [(ngModel)]="tarif.discount_commission" [ngClass]="{
        'is-invalid': tarif.discount_commission == null,
        'is-valid': tarif.discount_commission != null
      }">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Commission de virement</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="transfer"
                 [(ngModel)]="tarif.transfer_commission" [ngClass]="{
        'is-invalid': tarif.transfer_commission == null ,
        'is-valid': tarif.transfer_commission != null
      }">
        </div>
      </div>
    </div>


    <div style="display: flex">
      <div class="mb-1 col-md-12 col-12 p-field" >
        <label for="providerLabel" class="p-float-label">Taux interet (en %)</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="interest"
                 [(ngModel)]="tarif.interest_rate" [ngClass]="{
        'is-invalid': tarif.interest_rate == null ,
        'is-valid': tarif.interest_rate != null}">
        </div>
      </div>

    </div>


  </div>



  <div class="p-panel p-panel-header" style="margin-top: 20px;">
    <button [disabled]="" class="btn btn-secondary" style="margin-left: 1%;" click="cancel()">Annuler</button>
    <button  [disabled]="" class="btn btn-success" style="margin-left: 74%;">Enregistrer</button>
  </div>


</div>
