<h4 style="background: #E7E8E8; 
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
<span *ngIf="tarif.tarifId == null">Ajouter une tarif bancaire</span>
<span *ngIf="tarif.tarifId != null">Modifier la tarif bancaire{{tarif.tarifLabel}}</span>
</h4>
<div style="width: 90%;margin: auto;">
  <div class="p-grid p-fluid">
    <div style="display: flex">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Label</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="text" class="form-control p-field" id="providerLabel"
                 [(ngModel)]="tarif.tarifLabel" [ngClass]="{
        'is-invalid': tarif.tarifLabel == null || tarif.tarifLabel== '' ,
        'is-valid': tarif.tarifLabel != null && tarif.tarifLabel != ''
      }">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12">
        <label class="p-float-label">Compte bancaire</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <select class="form-control p-field" name="side" [(ngModel)]="tarif.tarifAccount" [ngClass]="{
        'is-invalid': tarif.tarifAccount== null ,
        'is-valid':tarif.tarifAccount != null
      }" >
            <option [ngValue]="null">-- Compte bancaire --</option>
            <option *ngFor="let a of accounts;" [ngValue]="a">{{a.accountLabel}}</option>
          </select>
        </div>
      </div>
    </div>
    <div style="display: flex" *ngIf="tarif.tarifAccount != null">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Numéro compte bancaire</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="text" class="form-control p-field" id="numCompte"
                 [(ngModel)]="tarif.tarifAccount.accountNumber" disabled="true">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Devise</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
          <input type="text" class="form-control p-field" id="devise"
                 [(ngModel)]="tarif.tarifAccount.accountCurrency" disabled="true">
        </div>
      </div>
    </div>
    <br>
    <p-panel header="Configration des comissions" [toggleable]="false">
      <div style="width: 20%">
        <button pButton pRipple label="Ajouter une comission" icon="pi pi-money-bill" class="p-mr-2"
                (click)="addNewComission()" style="background: #dee2e6;
    color: black;
    border: #dee2e6;"></button>
      </div>
      <div *ngFor="let commission of tarif.comissions" style="padding-bottom: 50px;">
        <ngx-nouvelle-comission [comission]="commission"></ngx-nouvelle-comission>
      </div>
    </p-panel>
    <!--
    <div style="display: flex">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Commision de remise des chèques</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="chequeRemittance"
                 [(ngModel)]="tarif.check_remittance_commission" [ngClass]="{
        'is-invalid': tarif.check_remittance_commission == null ,
        'is-valid': tarif.check_remittance_commission != null
      }">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Commission de remise remise effets à l'encaissement</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="billsComission"
                 [(ngModel)]="tarif.remittance_of_bills_for_collection_commission" [ngClass]="{
        'is-invalid': tarif.remittance_of_bills_for_collection_commission == null  ,
        'is-valid': tarif.remittance_of_bills_for_collection_commission != null
      }">
        </div>
      </div>
    </div>


    <div style="display: flex">
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Commission de remise remise effets à l'escompte</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="discount"
                 [(ngModel)]="tarif.discount_commission" [ngClass]="{
        'is-invalid': tarif.discount_commission == null,
        'is-valid': tarif.discount_commission != null
      }">
        </div>
      </div>
      <div class="mb-1 col-md-6 col-12 p-field">
        <label for="providerLabel" class="p-float-label">Commission de virement</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="transfer"
                 [(ngModel)]="tarif.transfer_commission" [ngClass]="{
        'is-invalid': tarif.transfer_commission == null ,
        'is-valid': tarif.transfer_commission != null
      }">
        </div>
      </div>
    </div>


    <div style="display: flex">
      <div class="mb-1 col-md-12 col-12 p-field" >
        <label for="providerLabel" class="p-float-label">Taux interet (en %)</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input type="number" class="form-control p-field" id="interest"
                 [(ngModel)]="tarif.interest_rate" [ngClass]="{
        'is-invalid': tarif.interest_rate == null ,
        'is-valid': tarif.interest_rate != null}">
        </div>
      </div>

    </div>

-->
  </div>

  <div class="p-panel p-panel-header" style="margin-top: 20px;float: right; padding: 2%;">

    <button  pButton pRipple label="Annuler" icon="pi pi-times" class="btn btn-secondary" (click)="cancel()"></button>

      <button [disabled]="checkTarifValid()"
      [ngClass]= "{'disabled': checkTarifValid}" pButton pRipple label="Enregistrer" icon="pi pi-check" class="primaryBtn" 
      (click)="saveTarif()" style="margin-left: 10px;"></button>
  </div>


</div>
