<h4 *ngIf="!showAvoirTemplate" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
  Liste des avoirs
</h4>
<div *ngIf="!showAvoirTemplate" class="card"
     style=" margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-table #dt [value]="avoirs" dataKey="avoirId" styleClass="p-datatable-customers" [rowHover]="true" [rows]="5"
           [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading" [paginator]="true"
           currentPageReportTemplate="" [filterDelay]="0"
           [globalFilterFields]="['avoirNumber','customer.customerLabel','createdAt', 'updatedAt']"
         >
    <ng-template pTemplate="caption">
      <div>
        <div class="p-d-flex p-ai-center p-jc-between" style=" width: 60%; display: inline-block;">
                    <span class="p-input-icon-left" style="width: 100%">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" style="width: 93%;"
                               class="searchInput, p-inputtext" (input)="dt.filterGlobal($event.target.value, 'contains')"
                               placeholder="Chercher une avoir.." />
                    </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px;">
        <th style="text-align: center; font-size: 13px;width: 20%">Numéro</th>
        <th style="text-align: center; font-size: 13px;width: 25%">Client</th>
        <th style="text-align: center; font-size: 13px;width: 15%">Date</th>
        <!--<th style="text-align: center;font-size: 13px;width: 17%">Date d'échéance</th>
        <th style="text-align: center; font-size: 13px;width: 14%">Montant HT brute</th>-->
        <th style="text-align: center; font-size: 13px;width: 20%">Montant HT</th>
        <!-- <th style="text-align: center; font-size: 13px;width: 14%">Total taxes</th> -->
        <th style="text-align: center; font-size: 13px;width: 20%">Montant TTC</th>
        <th style="width: 10%;font-size: 13px; text-align: center;">Actions</th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-avoir>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
        <td style="text-align: center;font-size: 13px;">
          {{avoir.avoirNumber}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{avoir.customer.customerLabel}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{avoir.avoirDate | date: 'dd-MM-yyyy'}}
        </td>


        <!-- <td style="text-align: center;font-size: 13px;">
             {{avoir.avoirDeadlineDate | date: 'dd-MM-yyyy'}}
         </td>
        <td style="text-align: center;">
          {{avoir.totalHTBrutS}} {{avoir.avoirCurrency}}
        </td>-->
        <td style="text-align: center;">
          {{avoir.totalHTS}} {{avoir.avoirCurrency}}
        </td>
        <!--<td style="text-align: center;font-size: 13px;">
          {{avoir.totalTaxeS}}
        </td> -->
        <td style="text-align: center;font-size: 13px;">
          {{avoir.totalTTCS}} {{avoir.avoirCurrency}}
        </td>



        <td style="text-align: center;">
          <div>
            <i placement="top" ngbTooltip="Voir avoir" class="pi pi-eye" (click)="ShowAvoirTemplate(avoir,true)"
               style="margin-right: 7px; color: #6200ee"></i>
            <!--
         <i placement="top" ngbTooltip="Visualisation réduite" class="pi pi-eye-slash" (click)="ShowAvoirTemplate(avoir,false)"
            style="margin-right: 7px; color: #6200ee"></i>
            -->
            <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash" (click)="deleteAvoir(avoir)"
               style="margin-right: 7px; color: #6200ee"></i>

          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="font-size: 13px">
        <td colspan="8" style="text-align: left !important;">Aucune avoir trouvée!</td>
      </tr>
    </ng-template>
  </p-table>
</div>



<p-dialog header="Supprimer un avoir" [(visible)]="displayDeleteAvoir" [modal]="true" [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  Voulez-vous toujours supprimer l'avoir  <span
  class="customer-badge status-negotiation">{{avoir.avoirNumber}}</span> ?

  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="displayDeleteAvoir=false"></button>

      <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
              (click)="delAvoir()"></button>

    </div>
  </ng-template>
</p-dialog>

<ngx-avoir-template *ngIf="showAvoirTemplate" [avoir]="avoir" [complet]="complet"
                      (cancelTemplateEvent)="hideTemplateWindow()">
</ngx-avoir-template>

