<h4 *ngIf="client.customerId  == null" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
Ajouter un nouveau client
</h4>
<h4 *ngIf="client.customerId != null" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
Modifier un client
<div><span class="customer-badge status-label">{{client.customerLabel}}</span></div>
</h4>
<div style="width: 90%; margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-panel header="Configuration génerale" [toggleable]="false">
      <div class="p-grid p-fluid">
        <div *ngIf="client.customerId != null" style="display: flex">
          <div class="mb-1 col-md-6 col-12 p-field">
            <label for="creationDate" class="p-float-label">Date de création</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
              <input type="text" class="form-control p-field" id="creationDate"
                     [(ngModel)]="client.createdAt" disabled="true">
            </div>
          </div>
          <div class="mb-1 col-md-6 col-12">
            <label for="modificationDate" class="p-float-label">Date de dernière modification</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
              <input type="text" class="form-control p-field"  id="modificationDate"
                     [(ngModel)]="client.updatedAt " disabled="true">
            </div>
          </div>
        </div>
        <div style="display: flex">
          <div class="mb-1 col-md-6 col-12 p-field">
            <label for="clientLabel" class="p-float-label">Dénomination client</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
              <input type="text" class="form-control p-field" id="clientLabel"
                     [(ngModel)]="client.customerLabel" [ngClass]="{
        'is-invalid': client.customerLabel == null || client.customerLabel == '' ,
        'is-valid': client.customerLabel != null && client.customerLabel !== ''
      }">
            </div>
          </div>
          <div class="mb-1 col-md-6 col-12">
            <label for="identifiant" class="p-float-label">Identifiant unique</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
              <input type="text" class="form-control p-field"  id="identifiant"
                     [(ngModel)]="client.customerUniqueIdentifier " [ngClass]="{
        'is-invalid': client.customerUniqueIdentifier  == null || client.customerUniqueIdentifier  == '' ,
        'is-valid': client.customerUniqueIdentifier  != null && client.customerUniqueIdentifier  !== ''
      }">
            </div>
          </div>
        </div>
        <!--
        <div style="display: flex">
          <div class="mb-1 col-md-6 col-12">
            <label for="tel" class="p-float-label">Téléphone </label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
              <input type="number" class="form-control" placeholder="-- Téléphone  --" id="tel"
                     [(ngModel)]="client.customerTel " [ngClass]="{
          'is-invalid': client.customerTel  == null || client.customerTel  == '' ,
          'is-valid': client.customerTel  != null && client.customerTel  != ''
        }">
            </div>
          </div>
          <div class="mb-1 col-md-6 col-12">
            <label for="mail" class="p-float-label">Email </label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
              <input type="text" class="form-control" placeholder="-- Email  --" id="mail"
                     [(ngModel)]="client.customerEmail " [ngClass]="{
          'is-invalid': client.customerEmail  == null || client.customerEmail  == '' ,
          'is-valid': client.customerEmail  != null && client.customerEmail  != ''
        }">
            </div>
          </div>
        </div>
  -->
        <div style="display: flex;">
        <div class="p-col-6 mb-1 col-md-6 p-field">
          <label for="tel" class="p-float-label">Tél </label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="tel" class="form-control p-field"  id="tel"
                   [(ngModel)]="client.customerTel "
                   [ngClass]="{
        'is-invalid': client.customerTel  == null || client.customerTel  == '' ,
        'is-valid': client.customerTel  != null && client.customerTel  !== ''
      }">
          </div>
        </div>
        <div class="p-col-6 mb-1 col-md-6 p-field">
          <label for="email" class="p-float-label">Email </label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" class="form-control p-field"  id="email"
                   [(ngModel)]="client.customerEmail"
                   [ngClass]="{
        'is-invalid': client.customerEmail  == null || client.customerEmail  == '' ,
        'is-valid': client.customerEmail  != null && client.customerEmail  !== ''
      }">
          </div>
        </div>
        </div>

        <div class="p-col-12 mb-1 col-md-12 p-field">
        <label for="manager" class="p-float-label">Responsable </label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" class="form-control p-field"  id="manager"
                 [(ngModel)]="client.customerManagerName ">
        </div>
      </div>
        <div class="p-col-12 mb-1 col-md-12 p-field">
          <label for="adress" class="p-float-label">Adresse </label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
            <textarea id="story" name="story" rows="3" class="form-control p-field"  pInputText  style="width: 100%;"  id ="adress" [(ngModel)]="client.customerAddress "
            ></textarea>
          </div>
        </div>
      </div>
  </p-panel>
  <br>
  <p-panel header="Configuration des contacts" [toggleable]="true" collapsed="true">
    <div>
      <button pButton pRipple label="Nouveau contact" icon="pi pi-user-plus" class="p-mr-2"
      (click)="addNewContact()" style="background: #dee2e6;
    color: black;
    border: #dee2e6;"></button>
    </div>
    <div *ngFor="let contact of client.customerContacts" style="padding-bottom: 50px;">
      <ngx-new-contact [contact]="contact"></ngx-new-contact>
    </div>
  </p-panel>
  <div class="p-panel p-panel-header" style="margin-top: 20px;float: right; padding: 2%;">

    <button  pButton pRipple label="Annuler" icon="pi pi-times" class="btn btn-secondary" (click)="cancel()"></button>

      <button [disabled]="checkClientValid()"
      [ngClass]= "{'disabled':  checkClientValid()}" pButton pRipple label="Enregistrer" icon="pi pi-check" class="primaryBtn"
      (click)="saveClient()" style="margin-left: 10px;"></button>
  </div>

</div>
