<h5>Nouveau client</h5>
<div style="width: 90%;
    margin: auto;">
  <p-panel header="Configuration génerale" [toggleable]="false">
      <div class="p-grid p-fluid">
        <div style="display: flex">
          <div class="mb-1 col-md-6 col-12 p-field">
            <label for="clientLabel" class="p-float-label">Dénomination client</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
              <input type="text" class="form-control p-field" id="clientLabel"
                     [(ngModel)]="client.customerLabel" [ngClass]="{
        'is-invalid': client.customerLabel == null || client.customerLabel == '' ,
        'is-valid': client.customerLabel != null && client.customerLabel !== ''
      }">
            </div>
          </div>
          <div class="mb-1 col-md-6 col-12">
            <label for="identifiant" class="p-float-label">Identifiant unique</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
              <input type="text" class="form-control p-field"  id="identifiant"
                     [(ngModel)]="client.customerUniqueIdentifier " [ngClass]="{
        'is-invalid': client.customerUniqueIdentifier  == null || client.customerUniqueIdentifier  == '' ,
        'is-valid': client.customerUniqueIdentifier  != null && client.customerUniqueIdentifier  !== ''
      }">
            </div>
          </div>
        </div>
        <!--
        <div style="display: flex">
          <div class="mb-1 col-md-6 col-12">
            <label for="tel" class="p-float-label">Téléphone </label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
              <input type="number" class="form-control" placeholder="-- Téléphone  --" id="tel"
                     [(ngModel)]="client.customerTel " [ngClass]="{
          'is-invalid': client.customerTel  == null || client.customerTel  == '' ,
          'is-valid': client.customerTel  != null && client.customerTel  != ''
        }">
            </div>
          </div>
          <div class="mb-1 col-md-6 col-12">
            <label for="mail" class="p-float-label">Email </label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-check"></i></span>
              <input type="text" class="form-control" placeholder="-- Email  --" id="mail"
                     [(ngModel)]="client.customerEmail " [ngClass]="{
          'is-invalid': client.customerEmail  == null || client.customerEmail  == '' ,
          'is-valid': client.customerEmail  != null && client.customerEmail  != ''
        }">
            </div>
          </div>
        </div>
  -->

        <div class="p-col-12 mb-1 col-md-12 p-field">
          <label for="manager" class="p-float-label">Responsable </label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" class="form-control p-field"  id="manager"
                   [(ngModel)]="client.customerManagerName " [ngClass]="{
        'is-invalid': client.customerManagerName  == null || client.customerManagerName  == '' ,
        'is-valid': client.customerManagerName  != null && client.customerManagerName  !== ''
      }">
          </div>
        </div>

        <div class="p-col-12 mb-1 col-md-12 p-field">
          <label for="adress" class="p-float-label">Adresse </label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>
            <textarea id="story" name="story" rows="3" class="form-control p-field"  pInputText  style="width: 100%;"  id ="adress" [(ngModel)]="client.customerAddress " [ngClass]="{
        'is-invalid': client.customerAddress  == null || client.customerAddress  == '' ,
        'is-valid': client.customerAddress  != null && client.customerAddress  != ''
      }"
            ></textarea>
          </div>
        </div>
      </div>
  </p-panel>
  <br>
  <p-panel header="Configuration des contacts" [toggleable]="true" collapsed="true">
    <div style="width: 20%;
    margin-left: 80%;">
      <button pButton pRipple label="Nouveau contact" icon="pi pi-user-plus" class="p-mr-2"
      (click)="addNewContact()" style="background: #dee2e6;
    color: black;
    border: #dee2e6;"></button>
    </div>
    <div *ngFor="let contact of client.customerContacts" style="padding-bottom: 50px;">
      <ngx-new-contact [contact]="contact"></ngx-new-contact>
    </div>
  </p-panel>
  <div class="p-panel p-panel-header" style="margin-top: 20px;">
    <button [disabled]="" class="btn btn-secondary" style="margin-left: 1%;" (click)="cancel()">Annuler</button>
    <button  [disabled]="" class="btn btn-success" style="margin-left: 74%;" (click)="saveClient()">Enregistrer</button>
  </div>


</div>
