<div class="card" *ngIf="!showAccountWindow">
  <p-table #dt [value]="accounts" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
           [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate=""
           [filterDelay]="0" [globalFilterFields]="['accountLabel','accountBankAdress','accountBank','accountAgency','accountAgencyAdress','accountChargeCustomerName','accountChargeCustomerPhoneNumber','accountNumber','accountRIB','accountCurrency','accountContacts','createdAt','updatedAt']">
    <ng-template pTemplate="caption" >
      <div style="display: flex; width: 100%">
        <div class="p-d-flex p-ai-center p-jc-between" style="width: 60%">
        <span class="p-input-icon-left" style="width: 100%">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" style="margin-left: 5%; width: 93%;" class="searchInput, p-inputtext"(input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Chercher un compte.." />
                </span>
        </div>

        <div style="width:25%; margin-left: 25%">
          <button pButton pRipple label="Nouveau Compte" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="showAccountWindow = true"></button>
        </div>

      </div>

    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px;">
        <th pSortableColumn="accountLabel" style="text-align: center; font-size: 13px; width: 20%">Compte Bancaire</th>
        <th pSortableColumn="accountNumber" style="text-align: center; font-size: 13px;width: 20%">Num compte</th>
        <th pSortableColumn="accountBank" style=" text-align: center;font-size: 13px;width: 10%">Banque</th>
        <th pSortableColumn="accountAgency" style="text-align: center; font-size: 13px;width: 20%">Agence</th>
        <th pSortableColumn="accountCurrency" style="text-align: center;font-size: 13px;width: 10%">Devise</th>

        <!--
		<th pSortableColumn="accountChargeCustomerPhoneNumber" style="text-align: center; font-size: 15px;">Télephone</th>
		<th pSortableColumn="accountCurrency" style="text-align: center; font-size: 15px;">Solde</th>
		!-->

        <!--
          <th pSortableColumn="createdAt">Date de création</th>
          <th pSortableColumn="updatedAt">Date de modfication</th>
          -->
        <th style="width: 20%"></th>
      </tr>
      <!--
      <tr>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerLabel', 'contains')" placeholder="Chercher par nom" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerUniqueIdentifier', 'contains')" placeholder="Chercher par identifiant" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerAddress', 'contains')" placeholder="Chercher par adresse" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerTel', 'contains')" placeholder="Chercher par télephone" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'customerEmail', 'contains')" placeholder="Chercher par email" class="p-column-filter">
        </th>
      </tr>
      -->
    </ng-template>
    <ng-template pTemplate="body" let-account>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
        <td  style="text-align: center;">
          {{account.accountLabel}}
        </td>
        <td  style="text-align: center;">
          {{account.accountNumber}}
        </td>
        <td style="text-align: center;">
          {{account.accountBank }}
        </td>

        <td style="text-align: center;">
          {{account.accountAgency}}
        </td>
        <td style="text-align: center;">
          {{account.accountCurrency}}
        </td>

        <!--
        <td style="text-align: center;">
          {{client.accountChargeCustomerPhoneNumber}}
        </td>
        <td style="text-align: center;">
          {{client.accountCurrency}}
        </td>
        -->


        <!--
                <td>
                  {{client.createdAt}}
                </td>
                <td>
                  {{client.updatedAt}}
                </td>
        -->
        <td style="text-align: center;">
          <div style="display: flex;">
            <button pButton   placement="top" ngbTooltip="Contacter" pRipple icon="pi pi-users" class="p-button-rounded p-button-info p-mr-2" style="margin-right: 7px;" (click)="1"></button>
            <button pButton   placement="top" ngbTooltip="Modifier" pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" style="margin-right: 7px;" (click)="1"></button>
            <button pButton   placement="top" ngbTooltip="Supprimer" pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="1"></button>
          </div>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Aucun compte trouvé!</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ngx-add-new-compte *ngIf="showAccountWindow" (addNewAccountEvent)="saveAccount($event)"
(cancelEvent)="hideAccountWindow()"></ngx-add-new-compte>

