<h4 *ngIf="!showFactureWindow && !showFactureTemplate && !showAvoirWindow && !showAvoirTemplate" style="background: #E7E8E8;
padding: 10px 10px 10px 10px !important;
    font-size: 20px !important;
    color: #222b45;margin-left: 10px">
  Liste des factures
</h4>
<div *ngIf="!showFactureWindow && !showFactureTemplate && !showAvoirWindow && !showAvoirTemplate" class="card"
     style=" margin: auto;margin-top:3%; border-color:#E7E8E8 !important; border:solid">
  <p-table #dt [value]="factures" dataKey="factureId" styleClass="p-datatable-customers" [rowHover]="true" [rows]="5"
           [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading" [paginator]="true"
           currentPageReportTemplate="" [filterDelay]="0"
           [globalFilterFields]="['factureNumber','customer.customerLabel','createdAt', 'updatedAt']">
    <ng-template pTemplate="caption">
      <div>
        <div class="p-d-flex p-ai-center p-jc-between" style=" width: 60%; display: inline-block;">
                    <span class="p-input-icon-left" style="width: 100%">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" style="margin-left: 5%; width: 93%;"
                               class="searchInput, p-inputtext" (input)="dt.filterGlobal($event.target.value, 'contains')"
                               placeholder="Chercher une facture.." />
                    </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="text-align: center; font-size: 15px;">
        <th style="text-align: center; font-size: 13px;width: 10%">Numéro</th>
        <th style="text-align: center; font-size: 13px;width: 10%">Client</th>
        <th style="text-align: center; font-size: 13px;width: 15%">Date de facture</th>
        <th style="text-align: center; font-size: 13px;width: 15%">Date d'échéance</th>
        <!--<th style="text-align: center;font-size: 13px;width: 17%">Date d'échéance</th>
        <th style="text-align: center; font-size: 13px;width: 14%">Montant HT brute</th>-->
        <th style="text-align: center; font-size: 13px;width: 14%">Montant HT</th>
        <!-- <th style="text-align: center; font-size: 13px;width: 14%">Total taxes</th> -->
        <th style="text-align: center; font-size: 13px;width: 14%">Montant TTC</th>
        <th style="width: 10%;font-size: 13px; text-align: center;">Actions</th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-facture>
      <tr class="p-selectable-row" style="text-align: center; font-size: 13px;">
        <td style="text-align: center;font-size: 13px;">
          {{facture.factureNumber}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{facture.customer.customerLabel}}
        </td>
        <td style="text-align: center;font-size: 13px;">
          {{facture.factureDate | date: 'dd-MM-yyyy'}}
        </td>

        <td style="text-align: center;font-size: 13px;">
          {{facture.factureDeadlineDate | date: 'dd-MM-yyyy'}}
        </td>
        <!-- <td style="text-align: center;font-size: 13px;">
             {{facture.factureDeadlineDate | date: 'dd-MM-yyyy'}}
         </td>
        <td style="text-align: center;">
          {{facture.totalHTBrutS}}
        </td>-->
        <td style="text-align: center;">

            <span *ngIf="facture.factureType === 'AVOIR'">-</span> {{facture.totalHTS}}
        </td>
        
        <!--<td style="text-align: center;font-size: 13px;">
          {{facture.totalTaxeS}}
        </td> -->
        <td style="text-align: center;font-size: 13px;">
          <span *ngIf="facture.factureType === 'AVOIR'">-</span> {{facture.totalTTCS}}
        </td>
        


        <td style="text-align: center;">
          <div >
            <i placement="top" ngbTooltip="Génerer un avoir" class="pi pi pi-cog" (click)="genererAvoir(facture)"
               style="margin-right: 7px; color: #6200ee" *ngIf="facture.factureType == 'FACTURE'"></i>
            <i placement="top" ngbTooltip="Voir" class="pi pi-eye" (click)="ShowFactureTemplate(facture,true)"
               style="margin-right: 7px; color: #6200ee"></i>
            <i placement="top" ngbTooltip="Modifier" class="pi pi-pencil"
               style="margin-right: 7px; color: #6200ee" (click)="editFacture(facture)"
               *ngIf="facture.factureType == 'FACTURE'"></i>
            <i placement="top" ngbTooltip="Modifier" class="pi pi-pencil"
               style="margin-right: 7px; color: #6200ee" (click)="editAvoir(facture)"
               *ngIf="facture.factureType == 'AVOIR'"></i>
            <i placement="top" ngbTooltip="Supprimer" class="pi pi-trash" (click)="deleteFacture(facture)"
               style="margin-right: 7px; color: #6200ee"></i>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="font-size: 13px">
        <td colspan="8" style="text-align: left !important;">Aucune facture générée trouvée!</td>
      </tr>
    </ng-template>
  </p-table>
</div>



<p-dialog header="Supprimer une facture" [(visible)]="displayDeleteFacture" [modal]="true" [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false">
          <div style="margin-top: 2%;">
  Voulez-vous toujours supprimer la facture  <span
  class="customer-badge status-negotiation">{{facture.factureNumber}}</span> ?
          </div>
  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="displayDeleteFacture=false"></button>

      <button pButton pRipple label="Supprimer" icon="pi pi-check" class="p-button-danger p-mr-2"
              (click)="delFacture()"></button>

    </div>
  </ng-template>
</p-dialog>
<p-dialog header="Génerer un avoir" [(visible)]="displayGenererAvoir" [modal]="true" [style]="{width: '50vw'}"
          [baseZIndex]="10000" [draggable]="false" [resizable]="false">
          <div style="margin-top: 2%;">
  Voulez vous vraiment génerer un avoir à partir de facture <span
  class="customer-badge status-negotiation">{{facture.factureNumber}}</span> ?
</div>

  <ng-template pTemplate="footer">
    <div style="margin-top: 20px;">
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary p-mr-2"
              (click)="displayGenererAvoir=false"></button>

      <button pButton pRipple label="Confirmer" icon="pi pi-check" class="primaryBtn"

              (click)="genererAvoir()"></button>

    </div>
  </ng-template>
</p-dialog>
<ngx-facture-template *ngIf="showFactureTemplate" [facture]="facture" [complet]="complet"
                            (cancelTemplateEvent)="hideTemplateWindow()">
</ngx-facture-template>
<ngx-edit-facture *ngIf="showFactureWindow" [facture]="facture"
                           (editFactureEvent)="saveFacture($event)" (cancelEvent)="hideFactureWindow(); initFacture();">
</ngx-edit-facture>

<ngx-add-avoir *ngIf="showAvoirWindow" [avoir]="avoir"
                  (editAvoirEvent)="saveAvoir($event)" (cancelEvent)="hideAvoirWindow(); initAvoir();">
</ngx-add-avoir>


