<div class="row template">
  <div class="d-flex justify-content-end col-md-12 text-align-left hiddenPrintZone">
    <button
      pButton
      pRipple
      label="Annuler"
      icon="pi pi-times"
      class="btn btn-secondary"
      (click)="cancel()"
      style="margin-right: 10px"
    ></button>
    <button
      pButton
      pRipple
      class="primaryBtn"
      (click)="generatePDF()"
      label="Imprimer"
      icon="pi pi-print"
    ></button>
  </div>
  <div
    id="facture"
    class="col-md-12 printZone mt-02"
    style="width: 8.2677in; margin-top: 10px"
  >
    <nb-card style="width: 100%; height: 100%">
      <nb-card-body>
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-4">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <img [src]="company.companyLogoUrl" style="height: 100%;
            width: 60%;
            margin: 2%;" />
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="text-align: center;
          margin-top: 4%;">
            <span style="font-family: Arial,serif;font-size: 18.0px;color: rgb(0,0,0);
            font-weight: bold;font-style: italic; text-decoration: none;">
              {{ company.campanyName }}</span><br>
            <span style="font-family: Arial,serif;font-size: 18.0px;color: rgb(0,0,0);
            font-weight: bold;font-style: italic; text-decoration: none;">
              {{company.campanyDetail}}</span>
          </div>
        </div>
        <div
          style="margin-top: 4%"
          class="row col-xl-12 col-lg-12 col-md-12 col-sm-12"
        >
          <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
            <div style="display: flex; margin-top: 5%;">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <span style="font-family: Arial,serif;font-size: 24.0px;color: rgb(0,0,0);
                font-weight: bold;font-style: normal; text-decoration: none;" *ngIf="facture.factureType == 'FACTURE'">Facture N°:</span>
                <span style="font-family: Arial,serif;font-size: 24.0px;color: rgb(0,0,0);
                font-weight: bold;font-style: normal; text-decoration: none;" *ngIf="facture.factureType == 'AVOIR'">Facture Avoir N°:</span>
                <br><br>
                <span style="font-family: Arial,serif;font-size: 18.0px;color: rgb(0,0,0);font-weight: bold;font-style: normal; text-decoration: none;">Date :</span>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <span style="font-family: Arial,serif;font-size: 24.0px;color: rgb(0,0,0);
                font-weight: bold;font-style: normal; text-decoration: none;" >
                  {{ facture.factureNumber }}
                </span><br><br>
                <span style="font-family: Arial,serif;font-size: 18.0px;color: rgb(0,0,0);
                font-weight: bold;font-style: normal; text-decoration: none;">
                  {{ facture.factureDate | date: 'dd/MM/yyyy'}}</span>
              </div>
            </div>
          </div>
          <div
            style="border: 2px solid #000;
            border-style: dashed solid !important"
            class="row col-xl-5 col-lg-5 col-md-5 col-sm-5"
          >
            <div style="text-align: center; width: 100%">
              <div style="margin-top: 8px;
              margin-bottom: 18px;">
                <span
                  style="font-family: Times,serif;font-size: 18.0px;color: rgb(0,0,0);
                  font-weight: bold;font-style: italic; text-decoration: none;"
                >Adressée à :
                </span>
              </div>
              <div style="    font-family: Arial,serif;font-size: 12.0px;color:
              rgb(0,0,0);font-weight: bold;font-style: normal;text-decoration: none;
              text-transform: uppercase;">
                <span>{{ facture.customer.customerLabel }}</span>
              </div>
              <div style="text-transform: uppercase">
                <span>{{ facture.customer.customerAddress }}</span>
              </div>
            </div>
            <br />
            <div style="margin-top: 30px; display: flex; font-size: 18px;
            font-weight: bold; width: 100%">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div>
                  <span style="font-family: Arial,serif;font-size: 16.0px; color: rgb(0,0,0);
                  font-weight: bold;font-style: normal; text-decoration: none;">MF/CIN : </span>
                </div>
                <div style="margin-top: 15px; margin-bottom: 15px;font-family: Arial,serif;font-size: 16.0px; color: rgb(0,0,0);
                font-weight: bold;font-style: normal; text-decoration: none;">
                  <span style="font-family: Arial,serif;font-size: 16.0px; color: rgb(0,0,0);
                  font-weight: bold;font-style: normal; text-decoration: none;">TEL : </span>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div>
                  <span style="font-family: Arial,serif;font-size: 16.0px; color: rgb(0,0,0);
                  font-weight: bold;font-style: normal; text-decoration: none;">{{
                    facture.customer.customerUniqueIdentifier
                    }}</span>
                </div>

                <div style="margin-top: 15px;margin-bottom: 15px;font-family: Arial,serif;font-size: 16.0px; color: rgb(0,0,0);
                font-weight: bold;font-style: normal; text-decoration: none;">
                  <span>{{ facture.customer.customerTel }}</span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <table
          style="margin-top: 30px"
          class="table col-xl-12 col-lg-12 col-md-12 col-sm-12"
        >
          <th style="width: 20%">Réference</th>
          <th style="width: 30%">Désignation</th>
          <th style="width: 10%">Qté</th>
          <th *ngIf="complet" style="width: 13%">P.HT</th>
          <th *ngIf="complet" style="width: 5%">TVA</th>
          <th *ngIf="complet" style="width: 5%">Remise</th>
          <th *ngIf="complet" style="width: 17%">Montant HT</th>
          <tr *ngFor="let invoiceLine of facture.factureLines">
            <td class="text-left" style="width: 20%">
              {{ invoiceLine.product.productReference }}
            </td>
            <td class="text-left" style="width: 30%">
              {{ invoiceLine.product.productLabel }}
            </td>
            <td class="text-right" style="width: 10%">
              {{ invoiceLine.quantity }}
            </td>
            <td *ngIf="complet" class="text-right" style="width: 13%">
              {{ invoiceLine.product.productPrixHTS }}
            </td>
            <td *ngIf="complet" class="text-right" style="width: 5%">
              {{ invoiceLine.product.productTVA }}%
            </td>
            <td *ngIf="complet" class="text-right" style="width: 5%">
              {{ invoiceLine.remiseTaux }}%
            </td>
            <td *ngIf="complet" class="text-right" style="width: 17%">
              {{ invoiceLine.montantHtS }}
            </td>
          </tr>
          <tr *ngFor="let item of [].constructor(15 -  facture.factureLines.length )">
            <td class="text-left" style="width: 20%">
            </td>
            <td class="text-left" style="width: 30%">
            </td>
            <td class="text-right" style="width: 10%">
            </td>
            <td class="text-right" style="width: 13%">
            </td>
            <td  class="text-right" style="width: 5%">
            </td>
            <td class="text-right" style="width: 5%">
            </td>
            <td  class="text-right" style="width: 17%">
            </td>
          </tr>
        </table>
        <div class="row mt-3" style="width: 95%;" *ngIf="complet">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
            <table
              style="margin-top: 15px"
              class="table col-xl-12 col-lg-12 col-md-12 col-sm-12"
            >
              <th style="width: 60%">Nom de la Taxe</th>
              <th style="width: 40%">Montant</th>
              <tr>
                <td class="text-left">FODEC</td>
                <td class="text-right">{{ facture.totalFodecS }}</td>
              </tr>
              <tr>
                <td class="text-left">TVA</td>
                <td class="text-right">{{ facture.totalTVAS }}</td>
              </tr>
              <tr>
                <td class="text-left">Timbre fiscal</td>
                <td class="text-right">{{ facture.timbreFiscalS }}</td>
              </tr>
              <tr style="border-top: 1px solid #000">
                <td class="text-center font-weight-bold">Total</td>
                <td class="text-right" style="font-weight: bold;font-size: 12px;">{{ facture.totalTaxeS }}</td>
              </tr>
            </table>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <table style="margin-top: 15px" class="table">
              <tr style="height: 40px; border: 1px solid #000; line-height: normal;">
                <td class="text-left font-weight-bold" style="
                width: 40%;">Total HT Brut</td>
                <td class="text-right">{{ facture.totalHTBrutS }}</td>
              </tr>
              <tr style="height: 40px; border: 1px solid #000">
                <td style="
                width: 40%;" class="text-left font-weight-bold">Remise</td>
                <td class="text-right">{{ facture.remiseS }}</td>
              </tr>
              <tr style="height: 40px; border: 1px solid #000">
                <td style="
                width: 40%;" class="text-left font-weight-bold">Total HT</td>
                <td class="text-right">{{ facture.totalHTS }}</td>
              </tr>
              <tr style="height: 40px; border: 1px solid #000">
                <td style="
                width: 40%;" class="text-left font-weight-bold">Total Taxe</td>
                <td class="text-right">{{ facture.totalTaxeS }}</td>
              </tr>
              <tr style="height: 40px; border: 1px solid #000">
                <td style="
                width: 40%;" class="text-left font-weight-bold; font-size: 12px;">Total TCC</td>
                <td class="text-right" style="font-weight: bold;font-size: 12px;">{{ facture.totalTTCS }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row mt-3" style="width: 95%;">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
            <!--
            <span class="text-center font-weight-bold"
              >Arrêtée la présente bon livraison à la somme de :
            </span>
            -->
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <span class="text-center" style="font-family: Arial,serif; font-size: 14.0px;color: rgb(0,0,0);
            font-weight: bold;font-style: normal;text-decoration: none;"
            >Cachet et signature</span
            >
            <div style="padding-bottom: 5%; text-align: center;">
              <img *ngIf="company.companySignatureUrl != null" src="{{company.companySignatureUrl}}" style="width:200px;height: 120px">
            </div>
            <div *ngIf="company.companySignatureUrl == null" style="padding-bottom: 5%; text-align: center;height: 120px">
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <span class="text-center font-weight-bold"
                  style="font-family: Arial,serif;font-size: 12.0px;color: rgb(0,0,0);
                  font-weight: bold;font-style: italic;text-decoration: none;">Siége Social : {{ company.campanyAddress }} </span
            ><br />
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <span class="text-center" style="font-family: Arial,serif; font-size: 12.0px;color: rgb(0,0,0);font-weight: bold;
            font-style: normal;text-decoration: none;">Tél : </span
            ><span style="font-family: Arial,serif;font-size: 12.0px;color: rgb(0,0,0);font-weight: normal;
            font-style: normal;text-decoration: none;">+216 {{ company.campanyPhoneNumber }}</span
          ><br />
            <span class="text-center" style="font-family: Arial,serif; font-size: 12.0px;color: rgb(0,0,0);font-weight: bold;
            font-style: normal;text-decoration: none;">TVA : </span
            ><span style="font-family: Arial,serif;font-size: 12.0px;color: rgb(0,0,0);font-weight: normal;
            font-style: normal;text-decoration: none;">{{ company.campanyUniqueIdentifier }}</span
          ><br />
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
             <span class="text-center" style="font-family: Arial,serif; font-size: 12.0px;color: rgb(0,0,0);font-weight: bold;
            font-style: normal;text-decoration: none;">FAX : </span
            ><span style="font-family: Arial,serif;font-size: 12.0px;color: rgb(0,0,0);font-weight: normal;
            font-style: normal;text-decoration: none;">+216 {{ company.campanyFaxNumber }}</span
          ><br />
            <span class="text-center" style="font-family: Arial,serif; font-size: 12.0px;color: rgb(0,0,0);font-weight: bold;
            font-style: normal;text-decoration: none;">RC : </span
            ><span style="font-family: Arial,serif;font-size: 12.0px;color: rgb(0,0,0);font-weight: normal;
            font-style: normal;text-decoration: none;">{{ company.campanyRCNumber }}</span
          ><br />
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
